In [15]:
ls

bot.py  Classes.py  Notebooks/  __pycache__/  Request.py  Variables.py

In [11]:
from Variables import * 
from Classes import *     # project
from Request import *     # PrivateAPi, createSignature

In [46]:
get = project('btc_mxn')

In [49]:
print( get.data())

<Response [200]>

In [13]:
import sqlite3

In [14]:
query = '''
CREATE TABLE trade (
     price float,
     date datetime


)
'''

In [16]:
con = sqlite3.connect('mydata.sqlite')

In [17]:
con.execute(query)

In [18]:
con.commit()

In [19]:
stmt = 'INSERT INTO trade VALUES(?, ?)'

In [21]:
data = [
    (34, '2021-04-24')
]

In [22]:
con.executemany(stmt, data)

In [23]:
con.commit()

In [24]:
cursor = con.execute('select * from trade')

In [25]:
rows = cursor.fetchall()

In [26]:
rows

[(34.0, '2021-04-24')]

In [27]:
import sqlalchemy as sql

In [29]:

db = sql.create_engine('sqlite:///mydata.sqlite')

In [30]:
pd.read_sql('select * from trade', db)

   price        date
0   34.0  2021-04-24