In [6]:
from pandas import DataFrame,to_datetime
from requests import get
from sqlalchemy import create_engine
from time import sleep

In [7]:
engine2 = create_engine('mysql+mysqlconnector://tom:123@192.168.1.74:3306/trades2')

In [ ]:
class public:
    def __init__(self,book):
        self.book = book
        
    def data(self):
    
        #print(self.book)
        
        x = get('https://api.bitso.com/v3/trades/?book='+self.book)
        
        return x

In [ ]:
def executeData():
    '''If either of the two try staments raise an error then will loop over and over
    '''
    coins = ['btc_mxn','eth_mxn','ltc_mxn','xrp_mxn','bat_mxn']
    for coin in coins:
        print(coin)
        try:
            public_instance = public(coin).data()
            #print(public_instance)
            #raise IndexError
        except:
            print('Error')
            sleep(5)
            executeData()
        
        try:
            y = public_instance.json()['payload']
            #raise IndexError
        except:
            print('Error No.2')
            sleep(5)
            executeData()
        
        finally:
            df = DataFrame(y)
            df['created_at'] = to_datetime(df['created_at'])
            df['created_at'] = df['created_at'].dt.tz_convert('America/Tijuana')
            df['date'] = df['created_at'].dt.date
            df['time'] = df['created_at'].dt.time
            print(df.head(n=3))
            
            intial_q = """INSERT INTO """+coin+""" 
( created_at,date,time,price)
VALUES
"""
            values_q = ",".join(["""('{}','{}','{}','{}')""".format(
        row.created_at,
        row.date,
        row.time,
        row.price ) for idx, row in df.iterrows()])

    
            end_q = """ ON DUPLICATE KEY UPDATE
    created_at = values(created_at),
    date = values(date),
    time = values(time),
    price = values(price); """
 
            query = intial_q
    + values_q + end_q  

            engine2.execute(query)
            #return df
    
while True:
    executeData()
    sleep(20)
#type(executeData())

In [ ]:
executeData()

In [25]:
query = 'select * from btc_mxn'

In [26]:
from pandas import read_sql
tes = read_sql(query,engine2)

In [12]:
pwd

'/home/mrrobot/Documents/tradingBot/Notebooks'

In [29]:
tes.to_csv('test2.xlsx',index=False)

In [27]:
tes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          1200 non-null   int64
 1   created_at  1200 non-null   object
 2   date        1200 non-null   object
 3   time        1200 non-null   timedelta64[ns]
 4   price       1200 non-null   float64
dtypes: float64(1), int64(1), object(2), timedelta64[ns](1)
memory usage: 47.0+ KB

In [28]:
tes

        ID                 created_at        date            time      price
0        1  2021-05-02 16:29:12-07:00  2021-05-02 0 days 16:29:12  1144590.0
1        2  2021-05-02 16:29:12-07:00  2021-05-02 0 days 16:29:12  1144570.0
2        3  2021-05-02 16:28:52-07:00  2021-05-02 0 days 16:28:52  1144500.0
3        4  2021-05-02 16:28:43-07:00  2021-05-02 0 days 16:28:43  1144570.0
4        5  2021-05-02 16:28:26-07:00  2021-05-02 0 days 16:28:26  1144500.0
...    ...                        ...         ...             ...        ...
1195  1196  2021-05-02 16:30:12-07:00  2021-05-02 0 days 16:30:12  1144590.0
1196  1197  2021-05-02 16:30:11-07:00  2021-05-02 0 days 16:30:11  1144200.0
1197  1198  2021-05-02 16:29:48-07:00  2021-05-02 0 days 16:29:48  1144200.0
1198  1199  2021-05-02 16:29:47-07:00  2021-05-02 0 days 16:29:47  1144590.0
1199  1200  2021-05-02 16:29:42-07:00  2021-05-02 0 days 16:29:42  1144590.0

[1200 rows x 5 columns]